.main{
    background:url('images/feedback.jpg')no-repeat ;
    background-size:100% 100%;
    height:600px;
    width:100%;
    background-attachment: fixed;
}
.btn1{
    height:55px;
    width:35%;
    border: none;
    outline:none;
    font-weight: 700;
    border-radius: 60px;

}

